{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Sobre</title>
{% endblock %}

{% block slide %}
<h1 class="my-4">Descrição e Objetivos do Software
</h1>
<div class="card mb-4">
    <div class="card-body">
        <p class="card-text" align="justify">Um determinado supermercado, deseja informatizar o seu processo de compras e entregas. Existem alguns pontos 
            que precisam ser melhorados entre eles a demora de respostas pelo WhatsApp, excesso de mensagens e o esquecimento de pedidos.<br>
            Como o supermercado tem um fluxo de clientes muito grande durante o ano todo é necessário a utilização de algum software no modelo E-commerce 
            para facilitar a parte dos clientes e também sua gestão e propiciar uma melhor experiência no controle de entregas.<br>
            Atualmente a empresa atende vários clientes de formas simultâneas, sendo assim é necessário a utilização de um sistema de 
            informação capaz de agilizar as compras e fornecer informações precisas. As compras são realizadas via WhatsApp, 
            e telefone fixo o que acaba gerando certo descontrole, o esquecimento de itens e a demora para finalizar a entrega pois tudo fica 
            anotado manualmente em cadernos. <br>
            A proposta de desenvolvimento é de um sistema web que permita os clientes de fazerem essas movimentações e que tenha o controle gerencial
            da empresa, atribuindo as respectivas permissões de acordo com os funcionários, controlar
            os pedidos, cadastros e visualizar relatórios gerenciais para fins de verificar informações.<br>
            Com o sistema implementado os pedidos ocorrerão apenas pelo site, tendo o banco de dados sempre controlado para que não 
            ocorra nenhum caso de atraso, falta de produtos ou esquecimentos.
        </p>
    </div>
</div>
{% endblock %}

{% block conteudo%}
{% endblock%}