{% extends 'paginas/modelo.html' %}

{% load static %}

{% block lateral1 %} {% endblock %}

{% block slide %}
<div class="col-lg-12">
    <p></p><br>
    <h3>Lista de Funcionários Cadastrados</h3>
    <a href="{% url 'cadastrar-funcionario' %}" class="btn btn-primary btn-sm">Adicionar Funcionário</a>
    <hr>
    <div class="table responsive">
        <table class="table table striped" id="tabela_funcionario">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Setor Funcionário</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in object_list %}
                <tr>
                    <td>{{ funcionario.nome_funcionario }}</td>
                    <td>{{ funcionario.setor_funcionario }}</td>
                    <td>
                        <a href="{% url 'editar-funcionario' funcionario.pk %}" class="btn btn-warning btn-sm"
                            title="Excluir">Editar</a>
                        <a href="{% url 'excluir-funcionario' funcionario.pk%}" class="btn btn-danger btn-sm"
                            title="Editar">Excluir</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum campo registrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block conteudo %}
<p></p>
{% endblock %}
{% block scripts %}

<script>
    $(document).ready(function () {
        $("#tabela_funcionario").DataTable();


    });
</script>
{% endblock %}