{% extends 'paginas/modelo.html' %}

{% load static %}

{% block slide %}
<p></p><br>
<h3>Lista de Unidades de Medidas Cadastradas</h3>
<a href="{% url 'cadastrar-unidademedida' %}" class="btn btn-primary btn-sm">Adicionar Un. Medida</a>
<hr>
<div class="table responsive">
    <table class="table table striped">
        <tr>
            <th>Nome</th>
            <th>Opções</th>
        </tr>

        {% for unidademedida in object_list %} 
        <tr>
            <td>{{ unidademedida.nome }}</td>
            <td>
                <a href="{% url 'editar-unidademedida' unidademedida.pk %}" class="btn btn-warning btn-sm" title="Excluir">Editar</a>
                <a href="{% url 'excluir-unidademedida' unidademedida.pk%}" class="btn btn-danger btn-sm" title="Editar">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum campo registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block conteudo %}
<p></p>
{% endblock %}